/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version
*/

/*
Colors used
Background Color (White Smoke): #f5f5f5;
Text Color (Dark Slate Grey): #2f4f4f;
Primary Color (Fire Brick Red): #B22222;
Secondary Color (Light Coral Red): #f08080;
 */

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

a {
  color: #b22222;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  color: #2f4f4f;
}

h2 {
  font-size: 18px;
  font-weight: 700;
  color: #2f4f4f;
}

p {
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  font-weight: 400;
  color: #2f4f4f;
}

a:visited {
  color: #f08080;
}

a:hover,
a:focus {
  cursor: pointer;
  text-decoration: none;
}

a:active {
  color: #800000;
}

form {
  color: #2f4f4f;
}

table {
  color: #2f4f4f;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.table-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.table-header__item {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
}

.page-footer__item {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.contact-item {
  color: #2f4f4f;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.work {
  text-align: center;
}

.about {
  max-width: 750px;
  text-align: center;
  margin: 0 auto;
}

.contact {
  text-align: center;
}

.table {
  margin: auto;
  text-align: center;
}

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #b22222;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #b22222;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}

.grid__item {
  background-color: lightgray;
  padding: 15px;
}

.grid__item:last-child {
  -ms-grid-column: 3;
  grid-column: 3 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

/* adding responsive design elements */
@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .grid__item:last-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    grid-row: auto / auto;
  }
}

/* shared code for responsive */
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  h1 {
    font-size: 22px;
  }
}

/* animation color change */
@-webkit-keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}
@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
          animation: 4s color-change infinite alternate linear;
}

/* position animation */
@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}
@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

.cloud-front {
  -webkit-animation: 40s cloud-move infinite alternate linear;
          animation: 40s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

.cloud-back {
  -webkit-animation: 45s cloud-move-reverse infinite alternate linear;
          animation: 45s cloud-move-reverse infinite alternate linear;
}
